---
name: build

# yamllint disable-line rule:truthy
on: [push]

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - id: get_version
        uses: battila7/get-version-action@v2
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: '8.6.5'
          enable-stack: true
          stack-version: 'latest'
      - name: Install package dependencies
        run: sudo apt update && sudo apt-get -y install ruby ruby-dev rubygems build-essential jq && sudo gem install --no-document fpm
      - name: Build binaries
        run: make build/linux/docker-multiphase-handler build/macos/docker-multiphase-handler
      - name: Build packages
        run: |
          if [[ '${{ steps.get_version.outputs.version }}' =~ ^[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            VERSION=${{ steps.get_version.outputs.version }} make build/debian/docker-multiphase-handler.deb
          else
            VERSION=${GITHUB_REF#refs/heads/} make build/debian/docker-multiphase-handler.deb
          fi
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: build/
      - name: Publish
        run: |
          if [[ '${{ steps.get_version.outputs.version }}' =~ ^[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            echo -e "\u001b[32mDetected tag\u001b[0m"
            VERSION=${{ steps.get_version.outputs.version }} GITHUB_TOKEN=${{ secrets.GH_ACCESS_TOKEN }} make publish
          fi
